.qr_code {
		width: 470rpx;
		height: 40%;
    // border: 1rpx solid black;
		border-radius: 20rpx;
		margin: 50rpx auto;
		padding-left: 8rpx;
		padding-top: 8rpx;
		padding-bottom: 8rpx;
		padding-right: 8rpx;
		background-color: #f5f5f5;
	// background-color: #FFFFFF;
  }