.bottom{
    margin: 2rpx;
    padding: 10rpx 10rpx;
    border-radius: 10rpx;
    border-block: 1rpx solid rgba(204, 204, 204, 0.829);
    // background-color: #fff;
	.myvideo{
		width: 680rpx;
		height: 1000rpx;
	}
    .b{
        margin: 10rpx;
        padding: 5rpx 5rpx;
    }
}