.top{
    margin: 2rpx;
    padding: 10rpx 15rpx;
    border-radius: 10rpx;
    border-block: 1rpx solid rgba(204, 204, 204, 0.829);
    background-color: #fff;
    .a{
	font-size: 30rpx;
	font-weight: 700;  
    padding-top: 10rpx;
    text-align: center;   
    }
    .b{
        margin: 10rpx;
        padding: 5rpx 5rpx;
    }
}