.select {
  width: 93%;
  margin: 30rpx auto;
  background-color: #fff;
  padding: 20rpx 40rpx;
  line-height: 60rpx;
  font-size: 30rpx;
  border-radius: 15px;
  color: #606266;
  padding: 30rpx 30rpx;
}