		.commNewsModule {
				.update_all{
					height: 14rpx;
					padding-top: 10rpx;
					padding-bottom: 10rpx;
					margin-bottom: 18rpx;
					font-size: 28rpx;
					line-height: 20rpx;
					color: rgb(167, 167, 167);
					margin-left: 80%;
				}
				.card {
					background-color: #FFFFFF;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1rpx solid #ccc;
					
					.card_news {
						width: 95%;
						margin: 20rpx auto;
						display: flex;
						flex-direction: column;
		 
						.card_title {
							display: flex;
							flex-direction: row;
							align-items: flex-end;
							padding: 0 0 5rpx 0;		 
							.uni-icons{
								color:rgb(103, 178, 227) ;
							}
							.title {
								margin-left: 15rpx;
								font-size: 28rpx;
								font-weight: bold;
							}
							.date {
								margin-left: 220rpx;
							}
						}
		 
						// 点击详情 展开
						// .card_content1 {
						// 	padding: 10rpx 0;
						// 	text-indent: 2em;
						// 	font-size: 28rpx;
						// }
		 
						.card_content2 {
							padding: 10rpx 0;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							text-indent: 2em;
							font-size: 25rpx;
						}
		 
						.card_lookmore {
							width: 100rpx;
							height: 14rpx;
							padding: 27rpx 0;
							font-size: 25rpx;
							line-height: 20rpx;
							border-bottom: 1rpx solid rgb(103, 178, 227);
							color: rgb(103, 178, 227);
						}
					}
				}		 
			}